In [2]:
# import python library
import pandas as pd
from flask import jsonify

In [3]:
# assign a variable that contains a string of your credentials
credentials = "sqlite:///beer_test.sqlite"

In [4]:
# read in your SQL query results using pandas
dataframe = pd.read_sql("SELECT * from ba_beerstyles"
            , con = credentials)
# return your first five rows
dataframe.head()

,style,category,ABV_avg,IBU_avg,SRM_avg,Glassware,Description,ABV_min,ABV_max,IBU_min,IBU_max,SRM_min,SRM_max
0,German Bock,Bock,6.95,25.0,25.0,Tulip,Bock is a bottom fermenting lager that general...,6.3,7.6,20,30,20,30
1,German Doppelbock,Bock,7.25,22.0,21.0,Tulip,"“Doppel” meaning “double,” this style is a big...",6.6,7.9,17,27,12,30
2,German Eisbock,Bock,10.50,30.0,21.0,Snifter,Eisbock is an extremely strong beer with a typ...,7.0,14.0,25,35,12,30
3,German Maibock,Bock,7.20,29.0,6.5,Goblet,Also called “Heller Bock” (meaning “Pale Bock”...,6.3,8.1,20,38,4,9
4,German Weizenbock,Bock,8.25,25.0,17.0,Tulip,The German-style Weizenbock is a wheat version...,7.0,9.5,15,35,4,30

In [6]:
# read in your SQL query results using pandas
dataframe2 = pd.read_sql("SELECT * from usa_breweries"
            , con = credentials)
# return your first five rows
dataframe2.head()

Empty DataFrame
Columns: [id, name, city, state, country, types]
Index: []